<!--Footer-->
<footer class="page-footer center-on-small-only">

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">

      <!--First column-->
      <div class="col-md-4 offset-lg-1 hidden-lg-down">
        <h5 class="title">About</h5>
        <ul>
          <li>
            <a href="#">Our Company</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
      <!--/.First column-->

      <hr class="hidden-md-up">

      <!--Second column-->
      <div class="col-lg-2 col-md-4 offset-lg-1">
        <h5 class="title">Connect</h5>
        <ul>
          <li>
            <a href="https://www.facebook.com/Shuffl-138706553346020">Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/shuffllunch">Twitter</a>
          </li>
          <li>
            <a href="https://medium.com/shuffllunch">Blog</a>
          </li>
          <li>
            <a href="https://medium.com/shuffllunch">Contact Us</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->

      <hr class="hidden-md-up">

      <!--Third column-->
      <div class="col-lg-2 col-md-4">
        <h5 class="title">Account</h5>
        <ul>
          <li>
            <a href="#!">Sign In</a>
          </li>
          <li>
            <a href="#!">Sign Up</a>
          </li>
          <li>
            <a href="/login">Add to Slack</a>
          </li>
        </ul>
      </div>
      <!--/.Third column-->

      <hr class="hidden-md-up">

      <!--Fourth column-->
      <div class="col-lg-2 col-md-4">
        <h5 class="title">Extras</h5>
        <ul>
          <li>
            <a href="#">How it works</a>
          </li>
          <!--<li><a href="#!">LinkedIn</a></li>-->
          <!--<li><a href="#!">Behance</a></li>-->
        </ul>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Call to action-->
  <div class="call-to-action">
    <h4>Shuffl Lunch</h4>
    <ul>
      <li>
        <a href="/login" class="btn btn-primary" rel="nofollow">
          <i class="fa fa-slack"></i>
          Add to
          <b>Slack</b>
        </a>
      </li>
      <li>
        <a href="#about" class="btn btn-default" rel="nofollow">Learn more</a>
      </li>
    </ul>
  </div>
  <!--/.Call to action-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright Shuffl Inc. All rights reserved
    </div>
  </div>
  <!--/.Copyright-->

</footer>
