:global(.typed-cursor) {
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:global(.card) img:global(.img-fluid) {
  margin: auto;
  height: 196px;
}

:global(.card) :global(.card-block) {
  margin-bottom: auto;
  flex-grow: 1;
}

html,
body,
body > :global(.ember-view),
:global(.view) {
  height: 100%;
}


/* Navigation*/

:global(.navbar) {
  background-color: transparent;
}

:global(.scrolling-navbar) {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

:global(.top-nav-collapse) {
  background-color: #3c4f74;
}

footer.page-footer {
  background-color: #3c4f74;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
}


/*Call to action*/

:global(.flex-center) {
  color: #fff;
}

:global(.view) {
  background: url("https://mdbootstrap.com/img/Photos/Horizontal/Food/full%20page/9.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*Contact section*/

#contact .fa {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #1C2331;
}

:global(.g-map-canvas) {
  // width: 600px;
  height: 300px;
}

// .g-map {
//   height: 100%;
// }
// .g-map-canvas {
//   width: 100%;
//   height: 100%;
// }
